* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
:root {
  --font-heading: "Sen", sans-serif;
  --color-for-button: yellow;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  height: 10000px;
}
.logo {
  width: 160px;
  height: 150px;
}
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  color: white;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background-color: black;
}
.btn:hover {
  opacity: 0.7;
}
.header {
  background: #fffcf4;
}
.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0px 8px;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  position: relative;
  font-size: 16px;
  color: #5f5b53;
  padding: 8px 21px;
}
.nav li.active a,
.nav a:hover {
  color: black;
  text-shadow: 1px 0px 1px black;
}
.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: black;
}
.header .btn-sign-up {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}
/* hero */
.hero {
  padding: 54px 0px 65px;
}
.hero .body {
  display: flex;
}
/*           @@@@@@@@@@@@@@left */
.hero .media-block {
  width: 48%;
}
.hero .media-block {
  position: relative;
  width: 52%;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 25px;
}
.hero .hero-summary {
  padding: 24px;
  width: 270px;
  position: absolute;
  right: 0px;
  bottom: 48px;
  border-radius: 12px;
  background-color: #fffcf4;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.hero-summary .item {
  display: flex;
  align-items: center;
}
.hero-summary .item + .item {
  margin-top: 22px;
}
.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1dc04e;
  color: rgb(17, 17, 17);
}
.hero-summary .icon2 {
  background-color: rgb(92, 200, 214);
  color: blue;
}
.hero-summary .icon3 {
  background-color: rgb(233, 201, 18);
  color: rgb(77, 0, 60);
}
.hero-summary .info {
  margin-left: 16px;
}
.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 186%;
}
.hero-summary .title {
  color: black;
  font-size: 1.8rem;
  font-weight: 600px;
  line-height: 1.67;
}
/* @@@@@@@@@@@@@@@@right@@@@@@@ */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}
.hero .heading {
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -1.16px;
  text-align: left;
}
.hero .desc {
  margin-top: 22px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}
.hero .cta-gruop {
  margin-top: 38px;
  display: flex;
  align-items: center;
}
.hero-cta {
  min-width: 180px;
  background-color: var(--color-for-button);
  line-height: 64px;
}
.hero .wacht-video {
  margin-left: 28px;
  border: none;
  background: transparent;
  display: flex;
  cursor: pointer;
}
.fa-circle-play {
  font-size: 30px;
}
.wacht-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #fffcf4;
  box-shadow: 0px 8px 16px 0px #00000012;
}
.hero .wacht-video1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  text-align: left;
  margin-left: 14px;
}
.hero .desc1 {
  margin-top: 48px;
}
.hero .desc2 {
  margin-top: 8px;
}
.hero .desc2 strong {
  margin-right: 15px;
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700px;
  line-height: 1.23;
}
.hero .desc2 strong:nth-child(2) {
  margin-left: 28px;
}
